h1{
  color: white;
  text-align: center;
}

body{
  /*font-family: 'Titillium Web', sans-serif;*/
  font-family: 'Montserrat', sans-serif;
}

#center{
  text-align: center;
}

#submit_event{
  font-size: 3em;
  width: 30%;
  height: 10%;
  margin-bottom: 20px;
}

.description{
  font-size: 2em;
  color: purple;
  background-color: rgba(0,0,0,0);
}

.input{
  color: purple;
  background-color: rgba(0,0,0,0);
  font-size: 2em;
}


